.container {
  /* padding: 50px; */
  background-color: rgb(244, 246, 248);
  /* margin: 50px; */
  height: 100vh;
  overflow-y: auto;
  /* margin-bottom: 20px; */
}

.thin-line {
  border: 0.5px solid rgb(178, 175, 175);
}



.contSuccess {
  background-color: #cde4fc;
}
.contUnsuccess {
  background-color: #f8c16f;
}

.constWithdraw {
  background-color: #69f3ca;
}
